*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/* HEADER SECTION */
header{
    display: flex;
    justify-content: space-between;
    padding: 13px 5rem  0 3rem;
    color: #ef233c ;
    background-color: #fff ;
}

.navLinks{
    display: flex;
    gap: 30px;
    font-weight: 600;
    padding: 5px 0 0 0;
}

.navLinks a{
    text-decoration: none;
    color: #ef233c ;
    font-weight: 600;
}

#cart{
    color: #ef233c ;
    font-size: 20px;
}

/******************************************************* PRIVACY PAGE */
.privacyContainer{
    margin: 1rem 4rem 2rem 1rem;
    line-height: 25px;
}

.privacyContainer span{
    font-weight: 600;
}

.privacyContainer ul{
    padding: 6px 0px 0px 26px;
}

.privacyContainer h1{
    margin: 0 0 12px 0;
}

.privacyContainer h3{
    padding: 12px 0 5px 0;
}

/* *********************************************************HOME PAGE */
/* HEADER */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 6rem 1rem 3rem;
}

.hero-section img{
    width: 500px;
}

.hero-section p{
    width: 540px;
    font-size: 20px;
}

.hero-section h2{
    font-size: 2.8rem;
}

.hero-section h3{
    font-size: 2rem;
    margin: 0 0 10px 0;
}

.hero-section button{
    background-color: #ef233c;
    color: #fff;
    border: none;
    width: 150px;
    padding: 12px 20px;
    border-radius: 10px 0 10px 0;
    margin: 2rem 0 0 0;
}

.hero-section span{
    color: #ef233c;
}

/* ABOUT US */
.about-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 6rem 0rem 2rem;
}

.about-section h3{
    font-size: 3rem;
    color:  #ef233c;
    margin: 0 auto 1rem auto;
    display: block;
    width: 250px;
}

.about-section p{
    width: 650px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

.about-section img{
    width: 450px;
}

.why-text a{
    color: #ef233c;
}

.why-text .learn{
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 20px; 
}

/* WHY SECTION */
.why-section{
    padding: 3px 6rem 1rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.why-sect{
    width: 700px;
    padding: 20px ;
    background-color: #ef233c;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-section img{
    width: 600px;
}

/***********************************************************SHOP PAGE */



/* .shopContainer


.shopContainer

.shopContainer */